<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Angular 6 Template-Driven Form Validation</h3>
        <form #registerForm="ngForm">
            <div class="form-group " [class.has-error]="fnameController.invalid && fnameController.touched" [class.has-success]="fnameController.valid">
                <label for="firstName" class="control-label">First Name</label>
                <input type="text" class="form-control" name="firstName" [(ngModel)]="firstName" required #fnameController="ngModel" />
                <span class="help-block" *ngIf="fnameController.invalid && fnameController.touched">Full Name is required</span>

            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="resister(registerForm.valid)" [disabled]="registerForm.invalid">Register</button>
            </div>
        </form>
    </div>
</div>